---
layout: html-en
---

<header>
  <nav>
    <ul>
      <li><a href="/random/">Catch a glimpse</a></li>
      <li><a href="/books/">Bøger</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>

<h1>Glimpses of Our Future</h1>

<main>
  {{ content | safe }}
</main>
