<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Glimpses of Our Future">
  <meta property="og:image" content="https://www.futureglimpses.earth{{permalink}}{% imageOf content %}">
  <meta property="og:title" content="Glimpses of Our Future">
  <meta property="og:url" content="https://www.futureglimpses.earth{{permalink}}">
  <meta name="twitter:card" content="summary_large_image">
  <title>Glimpses of Our Future</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>

{{ content | safe }}

<footer>
  <ul>
    <li>
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">
        Free Cultural Work
      </a>
    </li>
  </ul>
</footer>

</body>
</html>
